body {
  margin: 0;
}
h2 {
  margin: 0;
  padding: 10px;
  background-color: aquamarine;
}

.container {
  margin-bottom: 60px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 40px;
  border-radius: 6px;
}
