<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Track history</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"/>
    <!--Navbar fonts-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css" integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr" crossorigin="anonymous">
    
    <!--Adding icons-->
    <!--Date icon and bootstrap alignment-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <!--Burger icon-->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <!--Link to trackhistorystyle.css file-->
    <link rel="stylesheet" href="{{url_for('static',filename='trackhistorystyle.css')}}"/>
    
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img src="{{url_for('static',filename='NutriAux.png')}}" style="width:58px; height:55px;margin-left:5px;"/> <a class="nav-link">Track History</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="window.history.back()">Go Back</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>

    
    <h2>Track History</h2>

    <a href="{{url_for('support')}}"
      ><button>Support</button></a
    >
    </div>
    <div class="container">
      <form method="post">
        <div class="row">
          <div class="col-md-4 mt-3">
            <!--component-->
            Date:
              <div class="input-group date" id="datePicker" >
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </span>
                <input
                  type="text"
                  class="form-control"
                  name="date"
                  id="date"
                  readonly
                />
              </div>
            </div>
          
            <div class="col-md-4 mt-3">
             Enter the food name:
                <div class="input-group date" id="datePicker" >
                  <span class="input-group-addon">
                    <i class='fas fa-hamburger'></i>
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    name="date"
                    id="date"
                  />
                </div>
               
              </div>
              <div class="col-md-4 mt-3">
                <button type="submit" class="btn btn-default" width="50px" style="margin-top:20px" >Submit</button>
              </div>
          </div>
        </div>
      </form>
    </div>
    <!--Link to trackhistory Javascript-->
    <script src="{{url_for('static',filename='trackhistory.js')}}"></script>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
